[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RPregression"]
	path = RPregression
	url = https://github.com/cran/RPregression
